#header-container {
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
}

#logo {
    width: 75px;
    height: 75px;
    margin: 10px;
}

#user-icon {
    width: 65px;
    border-radius: 100%;
}